<!DOCTYPE html>

<html>
  <head>
  	<style>
      body {
        background: skyblue;
      }
  	</style>
  	<title>Url Shortener</title>
  </head>
  <body>
    <h1>Here's a short code for the url you entered: </h1>
    	<h3>Original: <a href="<%= data.original %>"><%= data.original %></a></h3>
    	<h3>Short code: <a href="<%= data.original %>"><%= data.shortCode %></a></h3>
    
  </body>
</html>